@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Space Grotesk", sans-serif;
}
body {
  background-color: #fff;
  /* background-image: linear-gradient(45deg, #f7dfb6, #c7ffad); */
  position: relative;
}
.design-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.design-container div {
  position: absolute;
  transform: translateX(-50%);
  background-color: transparent;
  border: 1.5px solid #000;
  border-radius: 50%;
}
/* .design-container div:nth-child(1) {
  height: 150vh;
  width: 150vh;
} */
/* .design-container div:nth-child(1) {
  height: 120vh;
  width: 120vh;
} */
.design-container div:nth-child(3) {
  height: 90vh;
  width: 90vh;
}
.design-container div:nth-child(2) {
  height: 60vh;
  width: 60vh;
}
.design-container div:nth-child(1) {
  height: 30vh;
  width: 30vh;
}
