@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  /* font-family: "Space Grotesk", sans-serif; */
  font-family: 'Rajdhani', sans-serif;
}
:root {
  --body-color: #1d1c1c;
  --primary-color: darkorange;
  --secondary-color: #1d1c1c;
  --text: #fff;
}
body {
  background-color: var(--body-color);
  position: relative;
}
.home {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 0 8%;
  background-image: url(./asset/background2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  color: #fff;
}
.nav-bar .logo,
.nav-social {
  padding: 0 10px;
}
.logo h1{
  font-size: 3rem;
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 3px 3px darkorange;
  letter-spacing: 3px;
}
.nav-social a {
  margin: 0 8px;
}
.nav-social a i {
  font-size: 22px;
  color: #fff;
  transition: 0.3s ease;
}
.nav-social a i:hover {
  transform: scale(1.5);
}
/* Styling the Section */
.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding: 0 10%;
  text-align: center;
  color: var(--text);
  font-family: 'Rajdhani', sans-serif;
}
.quotes h1{
  font-size: 5rem;
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 3px 6px darkorange; 
  padding: 0;
}
.quotes h1,
.fact-div {
  padding: 5px 0;
  text-align: center;
  color: var(--text);
  font-family: 'Rajdhani', sans-serif;
}
.fact-div p{
  font-size: 1.5rem;
  font-family: 'Rajdhani', sans-serif;
  text-shadow: 1px 1px #000; 
}
.quotes .become-a-developer {
  font-size: 2rem;
  padding: 5px;
  text-align: center;
}
@media (max-width: 765px) {
  .home {
    padding: 0;
  }
  .quotes h1 {
    font-size: 3rem;
  }
}

/*------------ITEM.JS STYLING--------- */
.heading {
  padding: 5% 5% 0 7%;
}
.heading h1 {
  font-size: 4rem;
  padding-left: 10px;
  border-left: 3px solid var(--primary-color);
  color: var(--primary-color);
}
.item-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.feature {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-position: center;
  width: 100%;
  padding: 5%;
}
.feature .item {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 320px;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
  background-color: var(--primary-color);
  overflow: hidden;
}
.item img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.item .project-number {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: var(--text);
  background-color: var(--secondary-color);
}
.project-number p{
  font-size: 18px;
  margin-left: 5px;
}
.item:hover .project-number{
  opacity: 0;
}
.item .display-name{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}
.item:hover .display-name{
  opacity: 0;
}
.item .description {
  position: absolute;
  bottom: -100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: var(--text);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s ease;
}
.item:hover .description {
  bottom: 0;
  opacity: 1;
}
.item .description h1 {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}
.description p {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: var(--text);
}
.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}
.languages li {
  margin: 2px;
  padding: 10px;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .heading {
    padding: 5% 0 0 5%;
  }
  .item-div {
    padding: 5% 0;
  }
  .feature {
    padding: 5% 20px;
  }
  .feature .item {
    width: 100%;
    margin: 10px 0;
  }
}
@media screen and (min-width: 640px) and (max-width: 900px) {
  .item-div {
    padding: 0;
  }
  .feature {
    padding: 10px;
  }
  .feature .item {
    width: 42%;
    margin: 10px;
  }
}

/*-----------ABOUT SECTION--------- */
.design-pattern {
  position: relative;
}
.design-container {
  position: absolute;
  top: 30%;
  right: 0;
  place-self: center;
  /* transform: translateX(100%); */
  -webkit-transform: scale(-1);
  transform: scale(-1);
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.design-container div {
  position: absolute;
  transform: translateX(-50%);
  background-color: transparent;
  border: 1.5px solid var(--primary-color);
  border-radius: 50%;
}
.design-container div:nth-child(3) {
  height: 90vh;
  width: 90vh;
}
.design-container div:nth-child(2) {
  height: 60vh;
  width: 60vh;
}
.design-container div:nth-child(1) {
  height: 30vh;
  width: 30vh;
}

/*-----------ABOUT SECTION--------- */
.about-section {
  padding: 5% 15% 5% 20%;
  color: var(--primary-color);
}
.about-section .about-flex {
  width: 100%;
  background-image: url(./asset/back.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-x: right;
  background-position-y: bottom;
  z-index: 9;
}
.about-des {
  width: 60%;
  padding: 10px;
}
.about-flex h1 {
  font-size: 4rem;
  padding: 10px 0;
}
.about-des .about-dev {
  padding: 10px 0;
  font-size: 18px;
  color: var(--text);
}
.about-des ul li {
  width: 150px;
  transition: 0.3s ease;
}
.about-des ul li:hover {
  transform: scale(1.3);
}
.about-des ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 22px;
  color: var(--text);
}
.about-des ul li a p {
  color: var(--text);
  padding: 5px;
}
.about-des ul li a i {
  font-size: 20px;
  color: var(--text);
}
.about-des ul li:hover p {
  color: var(--primary-color);
}
.about-des ul li:hover a i {
  color: var(--primary-color);
}
@media (max-width: 640px) {
  .about-section {
    padding: 8% 5px;
  }
  .about-des {
    width: 70%;
  }
  .design-container div:nth-child(3) {
    display: none;
  }
}

/*-----------SUBSCRIBTION SECTION--------- */
.subscription {
  padding: 10% 10%;
  display: flex;
  justify-content: right;
  background-image: url(./asset/back.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-x: 10%;
  background-position-y: center;
}
.subscription form {
  width: 50%;
  height: auto;
  padding: 17px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.subscription form h1,
p {
  padding: 8px 0;
  color: var(--text);
  color: var(--text);
}
.subscription form p {
  font-size: 20px;
}
.subscription form p:last-child {
  text-align: center;
  padding: 10px;
}
.subscription form .input-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}
.subscription form .input-field input {
  height: 50px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 5px 0;
  color: var(--text);
  background-color: rgb(0, 0, 0);
  outline: none;
  font-size: 20px;
  transition: 0.3s ease;
}
.subscription form .input-field input:focus {
  border: 2px solid var(--primary-color);
}
.subscription form button {
  width: 60%;
  height: 60px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--primary-color);
  margin: 5px 0;
  border: none;
  border-radius: 20px;
  color: var(--text);
  transition: 0.28s ease;
}
.subscription form button:hover {
  transform: scale(0.8);
}
@media (max-width: 640px) {
  .subscription {
    padding: 5%;
  }
  .subscription form {
    width: 100%;
  }
}

/*-----------FOOTER SECTION--------- */
.footer-section {
  color: var(--primary-color);
}
.footer-section .nav-bar {
  height: 50px;
  justify-content: space-around;
  color: var(--primary-color);
}
.footer-section .nav-bar .nav-social {
  padding-left: 10%;
}
.footer-section .nav-bar .nav-social i {
  color: var(--primary-color);
}
.footer-section p {
  text-align: center;
  font-size: 18px;
}  
@media (max-width: 640px) {
  .footer-section {
    padding: 0;
  }
  .footer-section p{
    font-size: 13px;
  }
}
