* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header {
  display: flex;
  align-items: flex-end;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  position: relative;
  color: #fff;
}
.back-to-home{
  position: absolute;
  top: 10px;
  left: 5%;
  padding: 12px;
  color: var(--text);
  background-color: rgba(0, 0, 0, 0.5);
}
.cssdesign {
  background-image: url(asset/28167_88.jpg);
}
.vanilla {
  background-image: url(asset/20653_18.jpg);
}
.landing {
  background-image: url(asset/28263_88.jpg);
}
.game {
  background-image: url(asset/26170_73.jpg);
}
.react {
  background-image: url(asset/27969_88.jpg);
}
.header .design {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}
.header .project-top-text {
  padding: 10px 5%;
  color: #fff;
  z-index: 9;
}
.project-top-text p {
  color: #fff;
}
.header .project-head-name {
  font-size: 3rem;
  padding: 10px 0;
}
.project-list {
  padding: 5%;
}
.project-list .prolist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}
.project-list .prolist .proitem {
  width: 45%;
  margin: 15px;
}
.proitem .projname{
  font-size: 20px;
  padding-bottom: 10px;
  color: #fff;
}
.item-img {
  width: 100%;
  position: relative;
  display: flex;
  align-items:  center;
  justify-content: center;
  max-height: 230px;
  border-radius: 10px;
  overflow: hidden;
}
.proitem .item-img img {
  width: 100%;
  height: auto;
}
.view-option {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:  center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.2s ease;
}
.view-option a p {
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  margin: 5px;
  color: var(--text);
  transition: 0.2s ease;
}
.view-option p:hover {
  background-color: var(--primary-color);
}
.proitem.appear .view-option{
  opacity: 1;
}
@media (max-width: 600px) {
  .back-to-home{
    left: 20px;
  }
  .project-list {
    padding: 0;
    width: 100%;
  }
  .project-list .prolist .proitem {
    width: 100%;
    padding: 20px;
    margin: 5px 0;
  }
  .project-list .prolist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .project-list {
    padding: 0;
  }
  .project-list .prolist .proitem {
    width: 45%;
    padding: 10px;
    margin: 5px;
  }
}
